{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

<ul>
{% for voiture in voitures %}
    <li>{{ voiture.modele }}</li>
    <li>{{ voiture.immatriculation }}</li>
    <li>{{ voiture.energie }}</li>
{% endfor %}
</ul>

{% endblock %}
