{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/image03.jpg" class="d-block w-100" alt="img1">
    </div>
    <div class="carousel-item">
      <img src="images/image02.jpg" class="d-block w-100" alt="img2">
    </div>
    <div class="carousel-item">
      <img src="images/image01.jpg" class="d-block w-100" alt="img3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"> 
  <div class="col-lg-6 px-0"> 
  <h1 class="display-4 fst-italic" _msttexthash="1995006" _msthash="23" style="direction: ltr; text-align: center;">Voyager ensemble n'a jamais été aussi facile ! </h1>
 <p class="lead my-3" _msttexthash="23845627" _msthash="24" style="direction: ltr; text-align: left;">Vous partez en voyage, oubliez les trajets tout seul, long et ennuyeux .
   Optez pour le covoiturage et rien de mieux que d'utiliser EcoRide</p> 
 
 </div> 
 </div>
<div class="row mb-2">
 <div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
  <div class="col p-4 d-flex flex-column position-static">
   <strong class="d-inline-block mb-2 text-primary-emphasis" _msttexthash="58864" _msthash="26" style="direction: ltr; text-align: left;">EcoRide</strong>
    <h3 class="mb-0" _msttexthash="534716" _msthash="27" style="direction: ltr; text-align: left;">Simplicité</h3> <div class="mb-1 text-body-secondary" _msttexthash="149084" _msthash="28" style="direction: ltr; text-align: left;">12 novembre</div>
    <p class="card-text mb-auto" _msttexthash="12625184" _msthash="29" style="direction: ltr; text-align: left;">Il s’agit d’une carte plus large avec un texte de soutien ci-dessous comme une introduction naturelle à du contenu supplémentaire.</p>
     <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
     <svg class="bi" aria-hidden="true">
     <use xlink:href="#chevron-right">
     </use>
     </svg>
      </a>
      </div>
      <div class="col-auto d-none d-lg-block" style="direction: ltr; text-align: left;"> 
      <svg aria-label="Espace réservé : Miniature" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg" _mstaria-label="4468347" _mstHash="31" style="direction: ltr; text-align: left;"><title _mstTextHash="289328" _mstHash="32">Espace réservé</title>
      <rect width="100%" height="100%" fill="#55595c"></rect>
      <text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="136630" _mstHash="33">Miniature</text>
      </svg>
       </div> 
       </div> 
       </div> 
       <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-success-emphasis" _msttexthash="136331" _msthash="34" style="direction: ltr; text-align: left;">Concevoir</strong>
          <h3 class="mb-0" _msttexthash="211991" _msthash="35" style="direction: ltr; text-align: left;">Titre du poste</h3> <div class="mb-1 text-body-secondary" _msttexthash="148980" _msthash="36" style="direction: ltr; text-align: left;">11 novembre</div>
           <p class="mb-auto" _msttexthash="12625184" _msthash="37" style="direction: ltr; text-align: left;">Il s’agit d’une carte plus large avec un texte de soutien ci-dessous comme une introduction naturelle à du contenu supplémentaire.</p> 
           <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
           <font _mstmutation="1" _msttexthash="388739" _msthash="38" style="direction: ltr; text-align: left;"> Continuer la lecture </font>
           <svg class="bi" aria-hidden="true">
           <use xlink:href="#chevron-right">
           </use>
           </svg> 
           </a> 
           </div>
            <div class="col-auto d-none d-lg-block" style="direction: ltr; text-align: left;">
             <svg aria-label="Espace réservé : Miniature" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg" _mstaria-label="4468347" _mstHash="39" style="direction: ltr; text-align: left;">
             <title _mstTextHash="289328" _mstHash="40">Espace réservé</title>
             <rect width="100%" height="100%" fill="#55595c">
             </rect>
             <text x="50%" y="50%" fill="#eceeef" dy=".3em" _mstTextHash="136630" _mstHash="41">Miniature de test</text>
             </svg> 
             </div> 
             </div> 
             </div> 
             </div>
<ul>
{% for voiture in voitures %}
    <li>{{ voiture.modele }}</li>
    <li>{{ voiture.immatriculation }}</li>
    <li>{{ voiture.energie }}</li>
{% endfor %}
</ul>
{%  include 'footer.html.twig' %}
{% endblock %}

