{% extends 'base.html.twig' %}

{% block title %}Participe index{% endblock %}

{% block body %}
    <h1>Participe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participe in participes %}
            <tr>
                <td>{{ participe.id }}</td>
                <td>
                    <a href="{{ path('app_participe_show', {'id': participe.id}) }}">show</a>
                    <a href="{{ path('app_participe_edit', {'id': participe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participe_new') }}">Create new</a>
{% endblock %}
