{% extends 'base.html.twig' %}

{% block title %}Participe{% endblock %}

{% block body %}
    <h1>Participe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participe.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participe_index') }}">back to list</a>

    <a href="{{ path('app_participe_edit', {'id': participe.id}) }}">edit</a>

    {{ include('participe/_delete_form.html.twig') }}
{% endblock %}
