{% extends 'base.html.twig' %}

{% block title %}New Avis
{% endblock %}
{# {% include 'navbar.html.twig' %} #}
{% block body %}
	<h1>Ajoutez Avis</h1>

	{{ include('avis/_form.html.twig') }}

	<a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
