{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 100%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	{% include 'navbar.html.twig' %}

	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">

			<div class="carousel-item active carousel-item-custom-height">
				<img src="{{ asset('images/image01.jpg') }}" class="d-block w-100 img-fluid" alt="Image 1">
			</div>
			<div class="carousel-item carousel-item-custom-height">
				<img src="{{ asset('images/image02.jpg') }}" class="d-block w-100 img-fluid" alt="Image 2">
			</div>

		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	<div class="container my-5">
		<h1 class="mb-4">Rechercher un covoiturage</h1>


		<div class="card p-4 shadow mb-5">
			<div class="row justify-content-center">
				<div class="col">
					<input id="depart" class="form-control" placeholder="Lieu de départ" type="text">
				</div>
				<div class="col">
					<input id="arrivee" class="form-control" placeholder="Lieu d'arrivée" type="text">
				</div>
				<div class="col">
					<input id="date" class="form-control" type="date">
				</div>
			</div>
			<div class="text-center mt-4">
				<a href="{{ path('app_covoiturage_index') }}" class="btn btn-primary btn-lg" role="button">
					Rechercher
				</a>

			</div>

		</div>


		<div class="container my-5 bg-body rounded">
			<div class="row">
				<div class="col-12">
					<div class="row mt-5">
						<div class="col-sm-6">
							<div class="card border-success">
								<div class="card-body">
									<i class="bi bi-piggy-bank-fill" style="font-size: 70px;"></i>
									<h5 class="card-title">Voyagez plus tranquille</h5>
									<p class="card-text">
										Ou que vous alliez, nous vous aidons à trouver le trajet qui vous convient parmi notre large choix de destinations à petits prix.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card border-success">
								<div class="card-body">
									<i class="bi bi-bus-front" style="font-size: 70px;"></i>
									<h5 class="card-title">Découvrez de nouvelles villes sans vous ruiner</h5>

									<p class="card-text">
										Chaque semaine, chaque mois. Pour une réunion importante ou juste parce que vous avez envie de voir un nouvel endroit. 
																																																																																																																																																																																																																												Avec une grande famille. Ou un gros bagage. Vers la mer comme vers les pistes de ski.
																																																																																																																																																																																																																												Peu importe votre voyage, il sera toujours simple et abordable avec nous. Avec un texte de soutien ci-dessous comme une introduction naturelle à un contenu supplémentaire.
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container my-5 mx-auto bg-body rounded">
				<div class="row py-lg-5">

					<div class="col-lg-6 col-md-8 mx-auto">

						<i class="bi bi-fingerprint" style="font-size: 70px;"></i>
						<h1 class="fw-light">Voyagez en toute confiance</h1>
						<p class="lead text-muted">
							Nous prenons le temps qu'il faut pour connaitre nos membres et nous vérifions les avis 
																																																																																																																																																																																																																																																																																																																						, les profils et l'identité de chacun. Vous savez donc avec qui vous allez voyager pour réserver en toute confiance sur une 
																																																																																																																																																																																																																																																																																																																	plateforme sécurisée.
						</p>
					</div>
				</div>
				<div class="container my-5 bg-body rounded">
					<div class="row">
						<div class="col-12">
							<div class="row mt-5">
								<div class="col-sm-6">
									<div class="card border-success">
										<div class="card-body">
											<i class="bi bi-piggy-bank-fill" style="font-size: 70px;"></i>
											<h5 class="card-title">Voyagez plus tranquille</h5>
											<p class="card-text">
												Ou que vous alliez, nous vous aidons à trouver le trajet qui vous convient parmi notre large choix de destinations à petits prix.
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="card border-success">
										<div class="card-body">
											<i class="bi bi-bus-front" style="font-size: 70px;"></i>
											<h5 class="card-title">Découvrez de nouvelles villes sans vous ruiner</h5>
											<p class="card-text">
												Ou que vous alliez, nous vous aidons à trouver le trajet qui vous convient parmi notre large choix de destinations à petits prix.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				{% include 'footer.html.twig' %}
			{% endblock %}
