{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 100%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	{% include 'navbar.html.twig' %}

	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div
			class="carousel-inner">
			{# Assurez-vous qu'un seul des 'carousel-item' a la classe 'active' #}
			<div class="carousel-item active carousel-item-custom-height">
				<img src="{{ asset('images/image01.jpg') }}" class="d-block w-100 img-fluid" alt="Image 1">
			</div>
			<div class="carousel-item carousel-item-custom-height">
				<img src="{{ asset('images/image02.jpg') }}" class="d-block w-100 img-fluid" alt="Image 2">
			</div>
			{# Ajoutez autant de "carousel-item" que vous avez d'images #}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	<div class="container my-5">
		<h1 class="mb-4">Rechercher un covoiturage</h1>


		<div class="card p-4 shadow mb-5">
			<div class="row justify-content-center">
				<div class="col">
					<input id="depart" class="form-control" placeholder="Lieu de départ" type="text">
				</div>
				<div class="col">
					<input id="arrivee" class="form-control" placeholder="Lieu d'arrivée" type="text">
				</div>
				<div class="col">
					<input id="date" class="form-control" type="date">
				</div>
			</div>
			<div class="text-center mt-4">
				<button class="btn btn-primary btn-lg" id="recherche">Rechercher</button>
			</div>
		</div>

		<div class="container my-5 bg-body rounded">
			<div class="row">
				<div class="col-12">
					<div class="row mt-5">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Voyagez plus tranquille</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional content.
																																																																																																																																																																																																																																With supporting text below as a natural lead-in to additional content.
																																																																																																																																																																																																																																With supporting text below as a natural lead-in to additional content.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Votre sécurité  au coeur de notre métier</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional content.
																																																																																																																																																																																																																										With supporting text below as a natural lead-in to additional content.
																																																																																																																																																																																																																										With supporting text below as a natural lead-in to additional content.
									</p>

								</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="card text-bg-dark card mb-3 mt-3 ml-4" style="max-width: 640px;">
							<img src="{{ asset('images/image04.jpg') }}" class="img-fluid rounded-start" alt="...">
							<div class="card-img-overlay">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text">
									<small>Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
					</div>

					{% include 'footer.html.twig' %}
				{% endblock %}
