.container-lg {
  display: flex;
  width: 100rem;
  flex-direction: row;
  text-wrap: wrap;
  align-items: flex-start;
}

.find_cov {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: #4d0b61;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #d4dddb;
  border: 1px solid #4d0b61;
}

/* button {
  width: 85%;
  height: 3rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* input {
  width: 50%;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #4d0b61;
} */

body {
  text-align: center;
  font-size: 1.5rem;
  font-family:Arial, Helvetica, sans-serif;
}

/* label {
  font-size: 0rem;
  color: black;
} */

.body {
  text-align: center;
  font-size: 1.5rem;
 
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
}
.carousel-slide {
  position: relative;
  z-index: 1;
}
.row g-3 {
  position: relative;
  z-index: 2;
}

/* Carousel */
.carousel-item img {
  height: 500px; /* Hauteur fixe pour les images du carousel */
  width: 80%; /* Largeur fixe pour les images du carousel */
  object-fit: cover; /* Assurer que l'image couvre bien l'espace */
}
/* Responsivité */
@media (max-width: 768px) {
  .carousel-item img {
    height: 300px; /* Réduire la hauteur du carousel sur les petits écrans */
  }

  .container.my-5 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.d-block img {
  width: 1170px;
  height: 480px;
  object-fit: cover;
}

#form-index {
  position: relative;
  z-index: 2;
}

#navbarTogglerDemo02 {
  margin-left: 695px;
}
#navbarTogglerDemo02 a {
  color: white;
  font-size: 20px;
}

#navbar {
  background-color: #115441;
}

.start_cov {
  background-color: #054d47;
  color: white;
  border-radius: 4px;
}

@media (max-width: 750px) {
  .form-overlay {
    display: flex;
    flex-direction: column;
  }
}


.list_users{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}