{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Créer un nouveau Covoiturage</h1>

	{{ include('covoiturage/_form.html.twig') }}

	<a href="{{ path('app_covoiturage_index') }}">Retour</a>
{% endblock %}
